footer{
    width: 100%;
    height: 835px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Space Grotesk", sans-serif;
    color: white;
    background-color: #162E3C;
    font-size: 14px;
    >div{
        width: 1280px;
        height: 675px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        >div:nth-child(1){
            width: 100%;
            height: 521px;
            display: flex;
            justify-content: space-between;
            align-items: start;
            >div:nth-child(1){
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                width: 500px;
                height: 179px;
                img{
                    width: 112px;
                }
            }
            >div:nth-child(2){
                display: flex;
                justify-content: space-between;
                align-items: start;
                width: 665px;
                height: 521px;
                >div{
                    >h3:nth-child(1){
                        margin-bottom: 32px;
                    }
                }

                ul{
                    list-style: none;
                    li{
                        margin-top: 16px;
                    }
                }
            }
        }
        >div:nth-child(2){
            width: 1280px;
            height: 74px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            >hr{
                width: 100%;
                height: 1px;
                border: 1px solid #223E4E;
            }
            >div{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 14px;
                >div{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 136px;
                    height: 41px;
                    >div{
                        background-color: #DDF0A7;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 40px;
                        height: 41px;
                        border-radius: 100px;
                    }
                }
            }
        }
    }
}